main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

section {
  width: 100%;
  margin-bottom: 40px;
}

article {
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  display: flex;
  padding-top: 10px;
}

nav {
  width: 200px;
  float: left;
  background-color: #f1f1f1;
  width: 20%;
  height: 95%;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

nav li {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
}

nav a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  background-color: #ddd;
}

.content {
  flex: 1;
  padding: 20px;
}

h1 {
  font-weight: bold;
  font-size: larger;
  padding-bottom: 15px;
}

#ref {
  text-align: 20px;
  font-size: 20px;
  padding-top: 20px;
}

#content {
  line-height: 1.5;
  padding-top: 1px;
}